body {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
}

nav ul li a:hover {
    text-decoration: underline;
}

header {
    background-position: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

body,
html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #42210B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

/* Portfolio Grid */
.projects-grid {
    margin-left: 5rem;
    margin-right: 5rem;
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project-square {
    position: relative;
    overflow: hidden;
    aspect-ratio: auto;
    border-radius: 10px;
    background-color: #f0f0f0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-overlay h3 {
    margin: 0;
    font-size: clamp(1.2rem, 3vw, 2rem);
}

.project-overlay p {
    margin: 10px 0 0;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
}

.project-square:hover img {
    transform: scale(1.1);
}

.project-square:hover .project-overlay {
    opacity: 1;
}

.project-square:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}