body {
    font-family: BD Supper, Poppins;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Center Content */
main {
    width: 100%;
}

/* FLEXBOX LAYOUT FOR SECTIONS */
.header-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px 10%;
}

/* IMAGE CONTAINER */
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

/* TEXT CONTAINER */
.text-container {
    flex: 1;
}

.text-container h1 {
    font-size: 4em;
    margin: 0;
    line-height: 1.1;
}

.text-container p {
    font-family: Peridot Devanagari Light, ;
    font-size: 1.5em;
    color: #555;
    margin-top: 10px;
}
.about-header h1 {
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    gap: 30px;
    padding: 50px 10%;
}
/* ABOUT SECTION STYLES */
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px 10%;
    
    background-image:url("../assets/page_background.png"); /* Replace with your image path */
    background-size: contain ; /* Ensures the image covers the section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    border-radius: 0; /* Optional: Adds rounded corners */
}


.about-section .image-container {
    max-width: max-content; /* Adjust if needed */
}
